
body {
    background-image: url("img/joulu-puki-background.png");
    color: white;
}


.title {
    text-align: center;
    margin-top: 10%;
}

.claim {
    text-align: center;
}

.prize {
    text-align: center;
}

.button {
    background-color: #04aa6d;
    color: white;
}
